*.venv
*.pcap
__pycache__/
*.py[cod]
*ryu_env
*reports/
*reports_loose
*reports_home
reports/**
!reports/.gitkeep
*reports_loose
*.pcap
!pcaps/*.pcap
!models/.gitkeep
!data/processed/.gitkeep
*processed
*release
